---
name: Docker Image CI

on:
  push:
    tags:
      - "*"
    
env:
  IMAGE_NAME: ${{ github.event.repository.name }}

jobs:
  build:
    name: Build Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Get Current Tag
        id: tag
        uses: "WyriHaximus/github-action-get-previous-tag@master"
      
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6
          push: true
          tags: |
            redorbluepill/${{ env.IMAGE_NAME }}:latest
            redorbluepill/${{ env.IMAGE_NAME }}:${{ steps.tag.outputs.tag }}
            ghcr.io/martinbrose/${{ env.IMAGE_NAME }}:latest
            ghcr.io/martinbrose/${{ env.IMAGE_NAME }}:${{ steps.tag.outputs.tag }}
          outputs: type=image,name=target,annotation-index.org.opencontainers.image.description=Multi-arch Docker image for ${{ env.IMAGE_NAME }}